body {
  display: flex;
  font-family: Arial, sans-serif;
}

#left-sidebar {
  width: 200px;
  height: 800px;
  background-color: #f0f0f0;
  padding: 20px;
  padding-left: 5px;
}

#main-content {
  flex: 1;
  text-align: center;
}

h1 {
  color: #333333;
}

nav {
  margin-bottom: 20px;
}

nav a {
  display: block;
  color: #333333;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px;
}

p {
  color: #666666;
}

.highlight {
  width: 200px;
  height: 30px;
  background-color: #7fff00;
}
